h1 {
  font-family: $font-barlow-sans-serif;
  font-size: $header-one-font-size;
  color: $font-color;
}

p {
  font-family: $font-barlow-sans-serif;
  font-size: $paragraph-font-size;
  color: $font-color;
}

span {
  font-family: $font-barlow-sans-serif;
  font-size: $span-font-size;
}

input {
  font-family: $font-barlow-sans-serif;
  font-size: $input-font-size;
}

.rounded {
  border-radius: 5px !important;
}

.mr-5 {
  margin-right: 5px !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.btn-circle {
  border-radius: 50% !important;
}

.uppercase {
  text-transform: uppercase;
}

.navbar-nav li > .navbar-back-button {
  margin-top: 12px;
}