h1 {
    font-family: $font-barlow-sans-serif;
    font-size: $header-one-font-size;
    color: $white-color;
  }
  
  p {
    font-family: $font-barlow-sans-serif;
    font-size: $paragraph-font-size;
    color: $white-color;
  }
  
  span {
    font-family: $font-barlow-sans-serif;
    font-size: $span-font-size;
  }
  
  input {
    font-family: $font-barlow-sans-serif;
    font-size: $input-font-size;
  }