// font operations
$font-barlow-sans-serif: 'Barlow Condensed', sans-serif;
$header-one-font-size: 48px;
$paragraph-font-size: 20px;
$span-font-size: 16px;
$input-font-size: 20px;
$logo-width-size: 200px;
$logo-height-size: 60px;
$header-font-size: 27px;

// sizes
$padding-const: 10px;

// colors
$body-background-color: #085147;
$font-color: #7e4545;
$border-color: #6414280d;